# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio>=3.6.1
appnope==0.1.3
argon2-cffi>=21.3.0
argon2-cffi-bindings>=21.2.0
asttokens>=2.0.5
attrs>=21.4.0
babel>=2.10.3
backcall
backports.functools_lru_cache>=1.6.4
beautifulsoup4>=4.11.1
bqplot
bleach>=5.0.1
bottleneck>=1.3.5
brotlipy>=0.7.0
cffi>=1.15.0
charset-normalizer>=2.1.0
cryptography>=37.0.4
debugpy>=1.5.1
decorator>=5.1.1
defusedxml>=0.7.1
entrypoints>=0.4
et_xmlfile>=1.0.1
executing>=0.8.3
flit-core>=3.7.1
glob2
idna>=3.3
import-java
importlib-metadata>=4.11.4
importlib_metadata>=4.11.4
importlib_resources>=5.8.0
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=7.7,<8
ipykernel
ipython
ipython_genutils>=0.2.0
jedi>=0.18.1
jinja2>=3.1.2
json5>=0.9.5
jsonschema>=4.7.2
jupyter-core>=4.11.1
jupyter_client>=7.3.4
jupyter_core>=4.11.1
jupyter_server>=1.18.1
jupyterlab>=3.4.4
jupyterlab_pygments>=0.2.2
jupyterlab_server>=2.15.0
jupyterlab-drawio
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlab_miami_nights
jupyterlab-filesystem-access
jupyterlite>=0.1.0b10
jupyterlite-p5-kernel>=0.1.0a12
jupyterlite-xeus-lua>=0.3.1
jupyterlite-xeus-wren>=0.2.1
markupsafe>=2.1.1
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat>=5.4.0
nest-asyncio>=1.5.5
notebook>=6.4.12
notebook-shim
numexpr>=2.8.3
numpy
openpyxl>=3.0.10
packaging>=21.3
pandas
pandoc
pandocfilters
parso
pexpect>=4.8.0
pickleshare
pip>=21.2.4
plotly>=5,<6
prometheus_client>=0.14.1
prompt-toolkit>=3.0.30
psutil>=5.9.1
ptyprocess
pure_eval
pycparser>=2.21
pygments>=2.12.0
pyopenssl>=22.0.0
pyparsing>=3.0.9
pypdf2>=2.11.1
pyrsistent>=0.18.1
pysocks>=1.7.1
python==3
readline
requests>=2.28.1
send2trash>=1.8.0
setuptools>=61.2.0
setuptools-scm>=7.0.5
setuptools_scm>=7.0.5
six>=1.16.0
sniffio>=1.2.0
stack_data
tabula-py
terminado>=0.15.0
tinycss2>=1.1.1
theme-darcula
tomli>=2.0.1
tornado>=6.2
traitlets>=5.3.0
typing-extensions>=4.3.0
typing_extensions>=4.3.0
urllib3>=1.26.10
wcwidth
webencodings
websocket-client>=1.3.3
wheel>=0.37.1
zipp>=3.8.0
